<main class="contenedor">
    <form method="POST" class="default-form" enctype="multipart/form-data">
        <div class="campo">
            <label>Nombre</label>
            <input value="{{nombre}}" type="text" name="nombre" placeholder="Ingresa tu nombre">
        </div>
        <div class="campo">
            <label>Email</label>
            <input value="{{email}}" type="email" name="email" placeholder="Ingresa tu email" >
        </div>
        <div class="campo">
            <label>Contraseña</label>
            <input type="password" name="password" placeholder="Ingresa tu contraseña">
        </div>
        <div class="campo">
            <label>Imagen de perfil</label>
            <input type="file" name="imagen">
        </div>
        <div class="campo">
            <input type="submit" class="btn btn-azul" value="Guardar cambios">
        </div>
    </form>
</main>