<main class="contenedor">
    <form method="POST" class="default-form">
        <div class="campo">
            <label>E-mail</label>
            <input type="email" name="email" placeholder="Ingresa tu email">
        </div>
        <div class="campo acciones">
            <a href="/auth/iniciar-sesion">Ya tenes cuenta? Inicia sesión</a>
        </div>
        <div class="campo">
            <input type="submit" value="Enviar" class="btn btn-azul">
        </div>
    </form>
</main>